header{
    background-color:#81a6eb;
    color:#000000;
    text-aling: center;
    max-width: 800px;
    margin: 0 auto;
}

main{
    background-color:#9ca9c0;
    color:#000000;
    max-width: 800px;
    margin: 0 auto;
}

img{
    width: 80px;
    height: 80px;
}