body {
  font-family: Arial, Helvetica, sans-serif; /* Fonte universal herdada por todo o site */
  margin: 0; /* Remove margens padrão do navegador */
  padding: 0;
}

header {
  background-color: #b4cbc5; /* Cor de fundo */
  color: #013005; /* Cor da fonte */
  text-align: center; /* Centraliza o texto horizontalmente */
  max-width: 800px; /* Define a largura máxima que o elemento pode ter */
  margin: 0 auto; /* Centraliza o bloco inteiro na tela */
  padding: 16px; /* Espaçamento interno entre a borda e o conteúdo */
}

h1 {
  color: #17048f;
}

main {
  background-color: #e2e7cc;
  color: #013005;
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

article {
  display: flex;
  margin-bottom: 60px; /* Empurra o artigo de baixo, criando o espaço */
}

img {
  width: 150px; /* Define a largura fixa da imagem */
  height: 150px; /* Define a altura fixa da imagem */
  border: 2px solid #17048f; /* Adiciona uma borda sólida de 2px na cor azul/roxa */
  display: block; /* Transforma a imagem em um bloco para aceitar margens verticais e quebra de linha */
  margin: 0 auto; /* Centraliza a imagem horizontalmente na tela */
  align-self: center; /* Centraliza verticalmente se o elemento pai for flex container */
}

.artigo-autor {
  font-weight: bold; /* Deixa o texto em negrito */
}

.texto-curto {
  max-width: 65ch; /* Limita a linha a cerca de 65 caracteres */
}

.texto-curto {
  max-width: 65ch; /* Limita a linha a cerca de 65 caracteres */
}

footer {
  background-color: #b4cbc5; /* Mesma cor de fundo suave do header */
  color: #013005; /* Cor da fonte em verde escuro para dar contraste com o fundo */
  text-align: center; /* Centraliza o texto horizontalmente */
  max-width: 800px; /* Mantém a mesma largura máxima do header e do main */
  margin: 0 auto; /* Centraliza o bloco inteiro na tela */
  padding: 20px; /* Cria um espaçamento interno para o fundo aparecer bem */
  font-size: 14px; /* Deixa o texto do rodapé um pouco menor e discreto */
}